main {
  height: 85.5%;
  width : 65vw;

  display        : flex;
  flex-direction : column;
  justify-content: space-between;

  background-color: var(--p2);
}

.top,
.bottom {
  height: 20%;
  width : 100%;

  background-color: var(--p2);
}

.middle {
  overflow-y     : scroll;
  scroll-behavior: smooth;
  color          : var(--s2);

  padding   : 2rem 3rem;
  text-align: justify;
}

.topic-section {
  margin-top: .2rem;
}

.section-container {
  min-height: 100vh;
  color     : var(--s3);
}

.section-container h3 {
  color: var(--m1);
}

.section-container h5 {
  margin: 1rem;
}

.topic-section section span {
  margin-left: 1rem;
}

.topic-section section h5 {
  margin-left: 1.5rem;
}

.title-section h1 {
  font-size     : 54px;
  font-weight   : 900;
  color         : var(--s1);
  letter-spacing: -.2rem;
  text-transform: lowercase;
}

.title-section hr {
  height          : 1px;
  width           : 50%;
  background-color: var(--m1);
  margin-bottom   : 2rem;
}

.content-section {
  height: 100%;
  width : 100%;

  line-height: 2rem;
}

.jobs-container {
  min-height: 100vh;
}

.company h3 {
  color     : var(--s2);
  transition: .2s;
}


.company h3:hover {
  color: var(--s1);
}


.jobs {
  border-left  : 1px solid var(--s2);
  padding-left : 1rem;
  margin-bottom: 3rem;
}


.job {
  margin-bottom: 1rem;
}

.job-title {
  display        : flex;
  justify-content: space-between;
  align-items    : baseline;
}

.job-title h4 {
  color : var(--m1);
  margin: .5rem 0;
}

.job-title span {
  font-size: smaller;
  color    : var(--s2);
}

.job-desciption li::before {
  content        : '>_';
  /* margin-right: .1rem; */
  color          : var(--m1);
  font-size      : x-small;
}

.job-desciption li {
  margin-bottom: 1.5rem;
  color        : var(--s2);
  transition   : .2s;
}

.job-desciption li:hover {
  color: var(--s3);
}

.tec-list {
  margin-top: 2rem;
}

.tec-list li {
  padding   : .5rem;
  color     : var(--s2);
  transition: .2s;

}

.tec-list li:hover {
  color: var(--s3);
}