:root {
  --p1: #0a0000;
  --p2: #1c1e1f;
  --s1: #fffffff3;
  --s2: #3b3d3e;
  --s3: #888888;
  --m1: #00c47a;
}

* {
  margin                : 0;
  padding               : 0;
  box-sizing            : border-box;
  border                : 0;
  outline               : 0;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height          : 100vh;
  width           : 100vw;
  background-color: var(--p1);
  display         : flex;
  justify-content : center;
  align-items     : center;
  font-family     : 'Roboto', sans-serif;
}

.body-container {
  width      : 83.5%;
  height     : 87.8%;
  display    : flex;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color          : inherit;
}